{% extends 'myapp/base.html' %}

{% block title %}Изменение пароля{% endblock %}

{% block content %}
    <h2>Изменение пароля</h2>
    <form method="post" action="{% url 'password_change' %}">
        {% csrf_token %}
        <p>Введите текущий пароль:</p>
        <input type="password" name="old_password">
        <p>Введите новый пароль:</p>
        <input type="password" name="new_password1">
        <p>Повторите новый пароль:</p>
        <input type="password" name="new_password2">
        <button type="submit">Изменить пароль</button>
    </form>
{% endblock %}