{% extends 'myapp/base.html' %}

{% block title %}Добавление рецепта - Мой сайт с рецептами{% endblock %}

{% block content %}
    <h2>Добавление нового рецепта</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                {% for field in form %}
                    {% for error in field.errors %}
                        <strong>{{ field.label }}: </strong>{{ error }}
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %}
        {{ form.as_p }}
        <input type="submit" value="Добавить">
    </form>
{% endblock %}
