{% extends 'myapp/base.html' %}

{% block title %}Мои рецепты{% endblock %}

{% block content %}
    <h2>Мои рецепты</h2>
    <ul>
        {% for recipe in user_recipes %}
            <li>
                <a href="{% url 'edit_recipe' recipe.id %}">{{ recipe.name }}</a>
                <form action="{% url 'delete_recipe' recipe.id %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" onclick="return confirm('Вы уверены, что хотите удалить этот рецепт?')">Удалить</button>
                </form>
            </li>
        {% endfor %}
    </ul>
{% endblock %}